<a href="https://colab.research.google.com/github/evoeye4/python-202204/blob/main/HW2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# 051

movie_rank = ['닥터 스트레인지', '스플릿', '럭키']
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']

In [8]:
# 052

movie_rank = ['닥터 스트레인지', '스플릿', '럭키'] + ['배트맨']


print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [22]:
# 053

movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']

movie_rank.insert(1,"슈퍼맨")

print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [17]:
# 054

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

del movie_rank[3]

print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [21]:
# 055

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

del movie_rank[2:]

print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [1]:
# 056

lang1 = ["c", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

langs = lang1 + lang2

print(langs)

['c', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [14]:
# 057

nums = [1, 2, 3, 4, 5, 6, 7]
nums_max = max(nums)
nums_min = min(nums)

print(f'max : {nums_max} ')
print(f'min : {nums_min}')

max : 7
min : 1

In [15]:
# 058

nums = [1, 2, 3, 4, 5]

sum(nums)

15

In [25]:
# 059

cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", 
"쫄면", "쏘세지", "라면", "팥빙수", "김치전"]

cook.count()

0

In [1]:
# 060

nums = [1, 2, 3, 4, 5]
avg = sum(nums) / 5
print(f' {avg}')

 3.0

In [4]:
# 121

put = input('>>')

if put.islower():
  print(put.upper())
else:
  print(put.lower())

>>a
A

In [5]:
# 122

scr = int(input('>> score :'))

if scr >= 80:
  print('grade is A')
elif scr >= 60:
  print('grade is B')
elif scr >= 40:
  print('grade is C')
elif scr >= 20:
  print('grade is D')
else:
  print('grade is E')

>> score :83
grade is A

In [14]:
# 123

money = {'달러' : 1167,
         '엔' : 1.096,
         '유로' : 1268,
         '위안' : 171}

put = input('>>입력: ')
num, currency = put.split()

print(float(num) * money[currency], "원")

>>입력: 100 달러
116700.0 원

In [9]:
# 124

number1 = int(input('>> input number1 :'))
number2 = int(input('>> input number2 :'))
number3 = int(input('>> input number3 :'))

if number1 >= number2 and number2 >= number3:
  print(number1)
elif number2 >= number1 and number1 >= number3:
  print(number2)
else:
  print(number3)

>> input number1 :10
>> input number2 :9
>> input number3 :20
20

In [23]:
# 125

number = input('>> 휴대전화 번호 입력:')
no = int(number[2])

if no == 1:
  print('당신은 SKT 사용자입니다.')
elif no == 6:
   print('당신은 KT 사용자입니다.')
elif no == 9:
   print('당신은 LGU 사용자입니다.')
else:
  print('알수없음')

>> 휴대전화 번호 입력:011-345-1922
당신은 SKT 사용자입니다.

In [28]:
# 126

post = input('>>우편번호:')
post_no = int(post[2])
if post_no <= 3:
  print('강북구')
elif post_no <= 7:
  print('도봉구')
elif post_no <= 10:
  print('노원구')
else:
  ('다시 입력 하세요')

>>우편번호:01400
도봉구

In [33]:
# 127

RRN = input('>> 주민등록번호:')
RNN_sex = int(RRN[7])

if RNN_sex % 2 == 0:
  print('여자')
else:
  print('남자')

>> 주민등록번호:821010-1635210
남자

In [39]:
# 129

RNN = input('>> 주민등록번호:')
RNN1 = int(RNN[-1])
RNN_v = int(RNN[0])*2 + int(RNN[1])*3 + int(RNN[2])*4 + int(RNN[3])*5 + \
        int(RNN[4])*6 + int(RNN[5])*7 + int(RNN[7])*8 + int(RNN[8])*9 + \
        int(RNN[9])*2 + int(RNN[10])*3 + int(RNN[11])*4 + int(RNN[12])*5
RNN_v1 = RNN_v / 11
RNN_v2 = str(RNN_v1 - 7)

if RNN1 == RNN_v2:
  print('유효한 주민등록 번호 입니다.')
else:
  print('유효하지 않은 주민등록번호입니다.')

>> 주민등록번호:821010-1635210
유효하지 않은 주민등록번호입니다.

In [1]:
# 130

import requests
btc =
requests.get("https://api.bithumb.com/public/ticker/").json()['data']

price1 = float(btc['min_price'])   # 최저가
price2 = float(btc['max_price'])   # 최고가
price3 = float(price2 - price1)  # 변동폭
price4 = float(btc['opening_price'])   # 시가

if price3 + price4 >= price2:
  print('"상승장"')
else:
  print('"하락장"')

SyntaxError: ignored