<a href="https://colab.research.google.com/github/evoeye4/python-202204/blob/main/Python%202204%202%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
print('%d % 10')
print('%d 원입니다.' % 100)

print('원주율은 %f입니다.' % 3.14)
print('원주율은 %s입니다.' % 3.14)

%d % 10
100 원입니다.
원주율은 3.140000입니다.
원주율은 3.14입니다.

In [7]:
print('%5d' % 1)
print('%5d' % 12)
print('%-5d' % 1)
print('%-5d' % 12)

    1
   12
1
12

In [9]:
# format() 매서드


print('My name is {}'.format('James'))

My name is James

In [22]:
#1.기본출력
name = "James"
age = 25
print('My name is', name, 'I\'m',age, 'years old')

#2. % 연산자
print('My name is %s I\'m %s years old' % ('James', 25))


#3. format 매서드
print('My name is {} I\'m {} years old'.format('James', 25))


#4. f string (***)
print(f'My name is {name} I\'m {age} years old')

My name is James I'm 25 years old
My name is James I'm 25 years old
My name is James I'm 25 years old
My name is James I'm 25 years old

In [23]:
age= 25

print(f'내년엔 {age+1}살이 됩니다.')

내년엔 26살이 됩니다.